body, h1, h2, h3, h4, h5, h6 {
 font-family: 'Open Sans', sans-serif;
}

body {
 font-size: 1.6em;
 line-height: 1.6;
}

.next-nav {
 margin-right: 30px;
}

.sidebar-nav {
 font-size: 0.8125em;
}

.sidebar-nav ul {
  margin: 0;
  padding:0;
  list-style: none;
  line-height: 1.9;
}

.sidebar-nav ul ul{
  margin-left: 1em;
  margin-bottom: 20px;
}
.sidebar-nav li {

}

.sidebar-nav dt {
 font-weight: normal;
 line-height: 1.9;
}

dd {
  margin-left:1em;
}

div.highlight pre, pre code, pre.screen, code {
  font-family: 'Source Code Pro', sans-serif;
  font-size: 1em;
}

pre span.bg {
 color: #eeeeec;
 font-weight: bold;
}

pre span.comment {
 color: #8f5902;
 font-weight: bold;
}

pre span.default {
 color: #204a87;
 font-weight: bold;
}

pre span.html {
 color: #000000;
 font-weight: bold;
}

pre span.keyword {
 color: #4e9a06;
 font-weight: bold;
}

pre span.string {
 color: #a40000;
 font-weight: bold;
}

.right {
  text-align:right
}

.literal-block-wrapper {
  padding: 0;
  width: 100%;
}

.literal-block-wrapper .caption-text, .literal-block-wrapper .caption-number {
    font-weight: bold;
}

.admonition {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.admonition-title {
    font-size: 24px;
}